openai
langchain
langchain-chroma
langchain-openai
langchain-community
langchain-anthropic
langchain-huggingface
pyspellchecker
transformers
sentence-transformers
pinecone
streamlit
tiktoken
chromadb
boto3
requests
torch
watchdog
uvicorn
anthropic 




